/MostrarResolução/dist/
/TiposPrimitivos/nbproject/private/
/TiposPrimitivos/build/
/TesteTipos/nbproject/private/
/TesteTipos/build/
/SomaComSwing/nbproject/private/
/SomaComSwingg/nbproject/private/
/SomaSwing/nbproject/private/
/SomaSwing/build/
